<h1>Welcome to the WebLN introduction tutorial</h1>
<h2>Step 1 - Get provider</h2>
<p>In this step we get the provider from your browser</p>
<button (click)="connectProvider()">Connect to provider</button>

<h2>Step 2 - Get information</h2>
<button (click)="checkEnabled()" [disabled]="weblnProvider == undefined">Check if enabled</button>

<p *ngIf="webLnEnabled; else noWebLn" class="connected">WebLN is enabled for you to use in this app</p>
<ng-template #noWebLn>
  <p class="notConnected">WebLN is not yet enabled for use by you in this App</p>
</ng-template>

<button (click)="getInfo()">Get info</button>
<p *ngIf="nodeInfo">
  alias: {{nodeInfo.node.alias}}<br />
  pubkey: {{nodeInfo.node.pubkey}}<br />
  color: {{nodeInfo.node.color}}
</p>

<h3>Step 3 - Create Invoice</h3>
